engine:
  type: GlobusComputeEngine
  available_accelerators: 12
  max_workers_per_node: 12
  cpu_affinity: "list:1-8,105-112:9-16,113-120:17-24,121-128:25-32,129-136:33-40,137-144:41-48,145-152:53-60,157-164:61-68,165-172:69-76,173-180:77-84,181-188:85-92,189-196:93-100,197-204"

  provider:
    type: PBSProProvider
    launcher:
      type: MpiExecLauncher
      bind_cmd: "--cpu-bind"
      overrides: "--ppn 1"

    account: {{ account }}
    queue: {{ queue }}
    cpus_per_node: 208
    scheduler_options: "#PBS -l filesystems=home:flare"
    worker_init: "module load frameworks; source ~/venvs/gcompute/bin/activate; export TMPDIR=/tmp"
    walltime: {{ walltime|default("00:30:00") }}

    nodes_per_block: {{ num_nodes|default(1) }}
    init_blocks: 0
    min_blocks: 0
    max_blocks: 1
